.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.takepart {
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px;
    margin: 20px auto 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    margin-top: 75px;
}
.takepart-text {
    font-size: 20px;
}
.takepart-email {
    font-size: 30px;
    color: #8afd8c;
}

@media (max-width: 1050px) {
    .takepart {
        max-width: 800px;
    }
}
@media (max-width: 850px) {
    .takepart {
        max-width: 600px;
    }
    .takepart-email {
        font-size: 25px;
    }
}
@media (max-width: 650px) {
    .takepart {
        max-width: 400px;
    }
}
@media (max-width: 450px) {
    .takepart {
        max-width: 200px;
        padding: 5px 10px;
    }
    .takepart h1 {
        font-size: 25px;
    }
    .takepart-text {
        font-size: 18px;
    }
    .takepart-email {
        font-size: 16px;
    }
}